<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Sites', sites_path %></li>
    <li><%= link_to 'Checkups', checkups_path %></li>
    <li><%= link_to 'Log', log_path %></li>
  </ul>
</nav>
