development:
  ip_relay:
    url: http://localhost:9292/
    basic_auth: false
  environment:
    default:
      timeout: 15
      retries: 2
      between_retries_wait: 2
      ip_relay_commands: '[chat: shenanigans]'
  log:
    default:
      lines: 100
  authentication:
    basic_auth: false
  checkups:
    url: http://localhost:3000/checkups/
production:
  ip_relay:
    url: http://ip-relay.foo.com/
    basic_auth: true
    username: bar
    password: swordfish
  environment:
    default:
      timeout: 15
      retries: 2
      between_retries_wait: 2
      ip_relay_commands: '[chat: team] [email: ops@foo.com]'
  log:
    default:
      lines: 100
  authentication:
    basic_auth: true
    username: bar
    password: swordfish
  checkups:
    url: http://dr.botsworth.foo.com/checkups/
