<h2>Editing <%= link_to @site.name, site_path(@site) %> environment</h2>

<%= render 'form' %>

<%= link_to 'Show', site_environment_path(@site, @environment) %> |
<%= link_to 'Back', site_environments_path %>
