@media screen {
  @font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: normal;
    src: local('Dancing Script'), local('DancingScript'), font-url('dancing_script_normal_400.woff') format('woff');
  }
}

header {
  margin-bottom: 32px;
}


header div.centered {
  margin-left: auto;
  margin-right: auto;
  display: table;
  border:1px solid #999;
  box-shadow: 10px 10px 5px #999;
}

header h1 {
  display: inline-block;
  vertical-align: top;
  margin-left: 32px;
  margin-top: 48px;
  font-size: 64px;
  font-weight: normal;
  font-family: 'Dancing Script', cursive;
}

header #icon {
  display: inline-block;
  vertical-align: top;
  width: 128px;
  height: 128px;
  margin-left: 32px;
  background-image: image-url('stethoscope.png')
}
